@model SignInDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    @await Component.InvokeAsync("_DirectoryAlertUILayoutComponentPartial")

    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- (About and Register) -->
            <div class="col-md-6 col-lg-5 d-flex align-items-stretch">
                <div class="bg-white p-4 rounded shadow w-100">
                    <h2 class="mb-3 text-center">MultiShop E-Ticaret</h2>
                    <p class="text-muted">MultiShop projemiz üzerinden e-ticaret işlemlerini gerçekleştirebilmek, indirimli ürünler ve fırsatlardan haberdar olmak adına hemen oturum açma işlemini gerçekleştirin.</p>
                    <p class="text-muted">Alışverişinizi gerçekleştirebilmek, sepetinize ürün eklemek ve ürün listesini görebilmek için oturum açmanız gerekmektedir. Bir hesabınız yoksa aşağıda kayıt olabilirsiniz.</p>
                    <div class="text-center mt-5">
                        <a href="/Register/Index/" class="btn btn-primary w-100">Kayıt Ol</a>
                    </div>
                </div>
            </div>

            <!-- (Login Form) -->
            <div class="col-md-6 col-lg-5 d-flex align-items-stretch">
                <div class="bg-white p-4 rounded shadow w-100">
                    <h2 class="mb-3 text-center">MultiShop Giriş Formu</h2>
                    <form class="form-detail" method="post">
                        <div class="mb-3">
                            <label for="your_username" class="form-label">Kullanıcı Adınız</label>
                            <input type="text" id="your_username" name="Username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="your_password" class="form-label">Şifreniz</label>
                            <input type="password" id="your_password" name="Password" class="form-control" required>
                        </div>

                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="btn btn-primary w-100 mt-5">Giriş Yap</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body>
</html>
