@{
    ViewData["Title"] = "WeatherDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /> <br />
    <h1>WeatherDetail</h1>
    <br />
    <h3>İstanbul Hava Durumu: @ViewBag.cityTemp</h3>
</div>