@model CreateRegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    @await Component.InvokeAsync("_DirectoryAlertUILayoutComponentPartial")

    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- (About and Login) -->
            <div class="col-md-6 col-lg-5 d-flex align-items-stretch">
                <div class="bg-white p-4 rounded shadow w-100">
                    <h2 class="mb-3 text-center">MultiShop E-Ticaret</h2>
                    <p class="text-muted mb-3">MultiShop projemiz, sizlere güvenli, hızlı ve kolay bir e-ticaret deneyimi sunmak için tasarlandı. 
                        Sitemiz üzerinden her türlü e-ticaret işlemini kolayca gerçekleştirebilir, geniş ürün yelpazemizle ihtiyacınız olan her şeyi rahatlıkla bulabilirsiniz. 
                        Üstelik, düzenlediğimiz özel kampanyalar, sezonluk indirimler ve fırsatlar sayesinde alışverişlerinizi daha uygun fiyatlarla yapma imkanı bulabilirsiniz. 
                        Hemen kaydolarak, bu avantajlardan yararlanabilir ve alışveriş deneyiminizi daha da keyifli hale getirebilirsiniz.</p>
                    <p class="text-muted mb-3">Alışveriş yapabilmek ve tüm bu fırsatları değerlendirebilmek için öncelikle bir hesap oluşturmanız gerekmektedir. 
                        Kayıt işlemini tamamladıktan sonra, alışverişlerinizi hızlıca yapabilir, siparişlerinizi takip edebilir ve kullanıcıya özel tekliflerimize kolayca ulaşabilirsiniz. 
                        Eğer zaten bir hesabınız varsa, aşağıdaki giriş butonuna tıklayarak hesabınıza giriş yapabilirsiniz ve hemen alışverişe başlayabilirsiniz.</p>
                    <div class="text-center mt-5">
                        <a href="/Login/Index/" class="btn btn-primary w-100 mt-5">Giriş Yap</a>
                    </div>
                </div>
            </div>

            <!-- (Register Form) -->
            <div class="col-md-6 col-lg-5 d-flex align-items-stretch">
                <div class="bg-white p-4 rounded shadow w-100">
                    <h2 class="mb-3 text-center">MultiShop Kayıt Formu</h2>
                    <form class="form-detail" method="post">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">Adınız</label>
                            <input type="text" id="first_name" name="Name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Soyadınız</label>
                            <input type="text" id="last_name" name="Surname" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Adresi</label>
                            <input type="email" id="email" name="Email" class="form-control" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}">
                        </div>
                        <div class="mb-3">
                            <label for="your_username" class="form-label">Kullanıcı Adınız</label>
                            <input type="text" id="your_username" name="Username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="your_password" class="form-label">Şifreniz</label>
                            <input type="password" id="your_password" name="Password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Şifre Tekrar</label>
                            <input type="password" id="confirm_password" name="ConfirmPassword" class="form-control" required>
                        </div>

                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="btn btn-primary w-100">Kayıt Ol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body>
</html>
